{% extends 'base.html' %}
{% block body %}
<div class="container">
    {%if registered %}
    <br><h3>Registered Successfully. You can login now </h3>
    {%elif email_exists %}
    <br><h3>The user with this mail id already exists.</h3>
    <h4>Use different email id or login using the same email id</h4>
    <a href="{url 'register'}">To retry click here.</a>
    {%elif username_exists%}
    <br><h3>The user with this username already exists.</h3>
    <h4>Please use different username</h4>
    <a href="{url 'register'}">To retry click here.</a>
    {%else%}
    <div class="row">
        <div class="col-6">
            <h3 style="margin-top: 10px;border-bottom:2px solid white;padding-bottom:10px;">Register</h3>
            <form action="/register/" method="post">
                {% csrf_token %}
                <br>
                <p>Name</p>
                <input type="text" name="name" class="form-control" required>
                <br>
                <p>Email ID</p>
                <input type="email" name="email" class="form-control" required>
                <br>
                <p>Password</p>
                <input type="password" name="password" class="form-control" required>
                <hr>
                <br>
                <button type="submit" class="btn btn-success">Sign-up</button>
            </form>
        </div>
        
    </div>

    {%endif%}
</div>
{% endblock %}